@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<CourseApplication.Models.ItemModel.ItemsDisplayModel>
@inject IViewLocalizer Localizer

<a id="create" class="btn btn-sm btn-primary" href="~/Item/Create" methods="post">@Localizer["Create"]</a><br/>
<a id="byName" class="btn btn-outline-primary" onclick="Sort('sort', 'name')">@Localizer["SortByName"]</a>
<a id="byTime" class="btn btn-outline-primary" onclick="Sort('sort', 'time')">@Localizer["SortByTime"]</a>
<a id="reverse" class="btn btn-outline-primary" onclick="Sort('reverse', '')">@Localizer["Reverse"]</a>
<input id="inNameInput" type="text" placeholder="What u want find.."/>
<a id="inName" class="btn btn-outline-primary" onclick="Sort('findName', '')">@Localizer["FindInName"]</a>
<input id="dayInput" type="datetime-local"/>
<a id="day" class="btn btn-outline-primary" onclick="Sort('findDay', 'time')">@Localizer["FindDay"]</a>
<table class="table">
    <tr>
        <th>@Localizer["Create"]</th>
        <th>@Localizer["CreateTime"]</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tbody class="body">
            @await Html.PartialAsync("_GetItemsForCollection", Model)
    </tbody>
</table>



@section Scripts {

    <script>
        function Sort(type, val) {
            $('.body').empty();
            if (type === "findName")
                {
                    val = document.getElementById('inNameInput').value;
                }
            else if (type === "findDay")
                {
                    val = document.getElementById('dayInput').value;
                }
            $.ajax({
            url: "/Item/GetItemsForCollection",
                data: { "type": type, "value": val },
            success: function (result) {
                    $('.body').append(result);
            }
        });
        }
    </script>
}