@*@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>*@
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<CourseApplication.Models.UserDisplayModel>
@inject IViewLocalizer Localizer;

@{
    ViewBag.Title = "Users";
}

<table class="table">
    <tr>
        <th>@Localizer["Name"]</th>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td>
                @if (user.Status == "base")
                {
                    <a id="block" class="btn btn-sm btn-primary" href="~/Users/ChangeStatus?id=@user.Id&newStatus=block" methods="post">@Localizer["Block"]</a>
                }
                else if (user.Status == "block")
                {
                    <a id="unlock" class="btn btn-sm btn-primary" href="~/Users/ChangeStatus?id=@user.Id&newStatus=base" methods="post">@Localizer["Base"]</a>
                }
            </td>
            <td>
                @if (user.Role == "admin")
                {
                    <a id="user" class="btn btn-sm btn-primary" href="~/Users/ChangeRole?id=@user.Id&newRole=user" methods="post">@Localizer["MakeUser"]</a>
                }
                else if (user.Role == "user")
                {
                    <a id="admin" class="btn btn-sm btn-primary" href="~/Users/ChangeRole?id=@user.Id&newRole=admin" methods="post">@Localizer["MakeAdmin"]</a>
                }
            </td>
            <td>
                @if (user.Role == "user")
                {
                <a id="openPage" class="btn btn-sm btn-primary" href="~/Users/PersonalArea?name=@user.Name">@Localizer["Page"]</a>
                }
            </td>
            <td>
                <button name="delete" type="submit" class="btn btn-sm btn-danger" asp-action="DeleteUser" asp-route-id="@user.Id">@Localizer["Delete"]</button>
            </td>
        </tr>
    }
</table>