@using CourseApplication.Models.ItemModel
@using Markdig;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Mvc.Localization
@model CourseApplication.Models.CollectionModels.CollectionDisplayModel
@inject IViewLocalizer Localizer

@{
    var items = (List<ItemsDisplayModel>)ViewBag.Items;
}

<img src="@Model.PhotoUrl" alt="Вы не загрузили фото"/>
<br/>
<h1>@Model.Name</h1>
<br/>
@Html.Raw((MarkupString)Markdown.ToHtml(@Model.Description))
@*<label>@Model.Description</label>*@
<br/>
<label>@Model.ThemeName</label>

<table class="table">
    <tr>
        <th>@Localizer["Name"]</th>
        <th>@Localizer["CreateTime"]</th>
        <th></th>
    </tr>
    @foreach (var item in items)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.CreateTime</td>
            <td>
                <a id="goto" class="btn btn-sm btn-primary" href="~/Item/ItemViewPage?itemId=@item.Id" methods="post">@Localizer["Items"]</a>
            </td>
        </tr>
    }
</table>